

.form-checkout>div{
    width: 50%;
}
.form-checkout label{
    width: 80px;
}
.form-checkout input{
    -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 2%;
	border: 1px solid #ccc;
	padding: 1%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;

}