body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-right .header-cart-link .cart-num-icon{
  position: relative;
}
.header-right .header-cart-link .cart-num-icon .cart-num{
  position: absolute;
  /* right: 10px; */
  /* top: 26px; */
  top: -3px;
  left: 30px;
  background-color: royalblue;
  /* width: 0px; */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
  padding: 0px;
  font-size: 6px;
  
}